// .card{
//     border-radius: 25px;
// }

.blockquote{
    box-shadow: 10px 10px 5px #88888880;
    border-radius: 25px; 
    background: #6c757d2e;
    
    
}


.blockquote-center{
  box-shadow: 0px 0px 0px #ffffff ;
  border-radius: 0px; 
  background: #ffffff;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}


.avatar {
  
  width: 100px;
  height: 100px;
  background: #ffff;
 
 
}

.first_service.animate__animated.animate__fadeInUp{
  --animate-duration: 1s;
}

.second_service.animate__animated.animate__fadeInUp{
  --animate-duration: 1.5s;
}

.third_service.animate__animated.animate__fadeInUp{
  --animate-duration: 2s;
}

.second_service.animate__animated.animate__zoomIn{
  --animate-duration: 1.5s;
}

.rm-ml-15{
  margin-left: 0 !important;;
}









/* Carousel base class */
.carousel {
 margin-bottom: 2rem;
 
  }
//   /* Since positioning the image, we need to help out the caption */
 .carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
  


/* Declare heights because of positioning of img element */
 .carousel-item {
  height: 33rem;
  
 }
 .carousel-item > img {
  
  position: absolute;
   top: 0;
   left: 0;
   min-width: 100%;
 height: 33rem;
 }

  .our-services{
    max-height: 850px !important;
    box-shadow: none;
    border-color: blue;
    
  }

 

  .our-services .card{
    border-radius: 0px; 
    box-shadow: 0px 0px 0px white;
    border-color: blue;
    
  }








  * {
    box-sizing: border-box;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 5px;
  }
  
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 10px;
    }
    /* Carousel base class */
.carousel {
  margin-bottom: 2rem;
  
   }
 //   /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
   bottom: 3rem;
   z-index: 10;
 }
   
 
 
 /* Declare heights because of positioning of img element */
  .carousel-item {
   height: 33rem;
   
  }
  .carousel-item > img {
   
   position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
  height: 33rem;
  }
 
  }
  
  /* Style the counter cards */
  .counter-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #444;
   // background-color: #1B5696;
    color: white;
  }
  
 


  // ###################
  .chooseus {
    background: #f7f7f7;
    position: relative;
    height: 530px;
    padding-bottom: 85px;
  }
  
  .chooseus .row {
    position: relative;
    z-index: 1;
  }
  
  .chooseus__text {
    position: relative;
    z-index: 1;
  }
  
  .chooseus__text .section-title {
    margin-bottom: 10px;
    text-align: left;
  }
  
  .chooseus__text .section-title h2 {
    margin-top: 0;
  }
  
  .chooseus__text ul {
    margin-bottom: 28px;
  }
  
  .chooseus__text ul li {
    list-style: none;
    font-size: 15px;
    color: #727171;
    line-height: 36px;
  }
  
  .chooseus__text ul li i {
    color: #1B5696;
  }
  
  .chooseus__video {
    height: 530px;
    width: calc(100% - 46%);
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .chooseus__video img {
    height: 75%;
    width: 90%;
    margin-left: 10%;
    align-content: center;
  }
  


  .spad {
    padding-top: 70px;
    padding-bottom: 50px;
  }
  
  .text-white h1,
  .text-white h2,
  .text-white h3,
  .text-white h4,
  .text-white h5,
  .text-white h6,
  .text-white p,
  .text-white span,
  .text-white li,
  .text-white a {
    color: #fff;
  }
  
  .set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }
  @media only screen and (min-width: 1200px) {
    
  }
  
  /* Medium Device = 1200px * /
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
  
    .chooseus {
      height: auto;
    }
   
    .single-funfact {
      margin-bottom: 0;
    }
    
  }
  
  /* Tablet Device = 768px */
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    
    .chooseus {
      height: auto;
      padding-bottom: 0;
    }
    .chooseus__video {
      height: 100%;
      width: 100%;
      position: relative;
    }
    .chooseus__text {
      margin-bottom: 40px;
    }
    .single-funfact {
      margin-bottom: 50px;
    }
    .funfact-content-wrap .col-lg-4:last-child .single-funfact {
      margin-bottom: 0;
    }
/* Carousel base class */
.carousel {
  margin-bottom: 2rem;
  
   }
 //   /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
   bottom: 3rem;
   z-index: 10;
 }
   
 
 
 /* Declare heights because of positioning of img element */
  .carousel-item {
   height: 33rem;
   
  }
  .carousel-item > img {
   
   position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
  height: 33rem;
  }
 
    
  }
  
  /* Wide Mobile = 480px */
  
  @media only screen and (max-width: 767px) {
    
    .chooseus {
      height: auto;
      padding-bottom: 0;
    }
    .chooseus__video {
      height: 100%;
      width: 100%;
      position: relative;
    }
    .chooseus__text {
      margin-bottom: 40px;
    }
    .single-funfact {
      margin-bottom: 50px;
    }
    .funfact-content-wrap .col-lg-4:last-child .single-funfact {
      margin-bottom: 0;
    }
    /* Carousel base class */
.carousel {
  margin-bottom: 2rem;
  
   }
 //   /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
   bottom: 3rem;
   z-index: 10;
 }
   
 
 
 /* Declare heights because of positioning of img element */
  .carousel-item {
   height: 33rem;
   
  }
  .carousel-item > img {
   
   position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
  height: 33rem;
  }
 

  }
 


.section-padding {
	padding: 100px 0;
}

.overlay {
	position: relative;
	z-index: 1;
}

.overlay:after {
	background-color: rgba(0, 0, 0, 0.8);
	content: "";
	left: 0;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}
/*== Fun Fact Area CSS Start ==*/

#funfact-area {
	background-image: url(assets/img/counter-bg.jpg);
	background-size: cover;
	background-position: center center;
  color: #fff;
  width: 100%;
}

.single-funfact {
	background-color: rgba(0, 0, 0, 0.6);
	padding: 25px 40px;
	text-align: center;
}

.funfact-icon {
	color: #1B5696;
  font-size: 50px;
  
}

.funfact-icon,
.funfact-content {
	display: table-cell;
vertical-align: middle;
}

.funfact-content {
	font-size: 40px;
	font-weight: 700;
	padding-left: 25px;
}

.funfact-content h4 {
	color: #eaeaea;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}

/*== Fun Fact Area CSS End ==*/

/* Furniture Area css
============================================================================================ */
.furniture_area{
	background: #f9f9ff;
}
.furniture_inner{
	margin-bottom: -30px;
}
.furniture_item{
	margin-bottom: 30px;
	img{
		border-radius: 5px;
	}
	h4{
		font-size: 18px;
		text-transform: uppercase;
		//font-family: $hee;
		font-weight: bold;
	//	color: $dip;
		margin-top: 25px;
		margin-bottom: 12px;
		// @include transition;
	}
	p{
		margin-bottom: 0px;
	}
	&:hover{
		h4{
			color: #1B5696;
		}
	}
}
/* End Furniture Area css
============================================================================================ */

/* Feature Area css
============================================================================================ */

.feature_item{
	background: #fff;
	border-radius: 10px;
	padding: 40px 60px 40px 40px;
  margin-bottom: 30px;
 
//	@include transition;
	h4{
		font-size: 18px;
		//color: $dip;
		margin-bottom: 20px;
		text-transform: uppercase;
	//	@include transition;
		position: relative;
		
		i{
			font-size: 24px;
			padding-right: 15px;
			font-weight: 600;
			position: absolute;
			left: 0px;
			top: 40%;
			transform: translateY(-50%);
		}
	}
	p{
		margin-bottom: 0px;
	}
	&:hover{
		background: #fff;
		box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
		p.h4{
			color: #1B5696;
		}
	}
}
/* End Feature Area css
============================================================================================ */


/* Clients Logo Area css
============================================================================================ */
.clients_logo_area{
	background: #fff;
	.clients_slider{
		.item{
		//	text-align: center;
			img{
			//	width: auto;
				//text-align: center;
		//		display: block;
				margin: auto;
				line-height: 50px;
      height: 100px;
      width: 100px;
			padding: 0px;
			}
		
		}
	}
}
/* End Clients Logo Area css
============================================================================================ */
.testimonial-wrap {
	.quote {
		line-height: 1;
		position: relative;
		font-size: 100px;
		color: black;
		text-align: center;
	}
}

.block-testomonial{text-align:center}
.block-testomonial p
{font-size:18px;
  color:#000;
  line-height:2
}

.testimonial-container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
  
