<footer class="footer footer-default">
  <div class="container">
           <div class="row">
           <div class="col-sm-3">

           </div>
           <div class="col-sm-5 ">
            <div class=" text-center" >
              <h6>Address:</h6><br>
              212, vyapar vikas parishad, devguradia, Nemawar road<br>
              Opposition- Tinchi Ground<br>
              Indore, Madhya Pradesh, 452020,<br>
              India
          </div>
          </div>
          <div class="col-sm-4">

          </div>
           
        </div>
        </div>
    </footer>