<div class="wrapper">

    <!-- start banner Area -->
    <section class="banner-area " id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row  banner-align">
                <div class="contact-content col-lg-12">
                    <h1 class="text-white" data-aos="fade-right">
                        Car Dent Paint
                    </h1>

                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->


    <!-- Start image-gallery Area -->
    <section class="image-gallery-area section-gap">
        <div class="container">
            <div class="row section-title">
                <h1>Image Gallery that we like to share</h1>

            </div>
            <div class="row">
                <div class="col-lg-4 single-gallery">
                    <a href="assets/img/dent-paint/g1.jpg" class="img-gal"><img class="img-fluid"
                            src="assets/img/dent-paint/g1.jpg" alt=""></a>
                    <a href="assets/img/dent-paint/g4.jpg" class="img-gal"><img class="img-fluid"
                            src="assets/img/dent-paint/g4.jpg" alt=""></a>
                </div>
                <div class="col-lg-4 single-gallery">
                    <a href="assets/img/dent-paint/g2.jpg" class="img-gal"><img class="img-fluid"
                            src="assets/img/dent-paint/g2.jpg" alt=""></a>
                    <a href="assets/img/dent-paint/g5.jpg" class="img-gal"><img class="img-fluid"
                            src="assets/img/dent-paint/g5.jpg" alt=""></a>
                </div>
                <div class="col-lg-4 single-gallery">
                    <a href="assets/img/dent-paint/g3.jpg" class="img-gal"><img class="img-fluid"
                            src="assets/img/dent-paint/g3.jpg" alt=""></a>
                    <a href="assets/img/dent-paint/g6.jpg" class="img-gal"><img class="img-fluid"
                            src="assets/img/dent-paint/g6.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </section>

    <div class="album  py-5   mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 ">
                    <div class="card mb-4 shadow-sm">
                        <div data-aos="fade-up">
                            <h3 class="card-header text-center" style="background-color: #04091E;color: #fff;">Plunger
                            </h3>
                            <img class="bd-placeholder-img card-img-top" width="100%" height="300"
                                src="assets/img/dent-paint-3.jpg" alt="home-slider-3" role="img">
                            <div class="card-body">
                                <p class="card-text">Wet the dent with water and wipe it with dish liquid. Press the
                                    plunger against the car to create suction, then pull it back using the same motions.
                                    Do this until the dent pops back into place.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm ">
                        <div data-aos="fade-up">
                            <h3 class="card-header text-center" style="background-color: #04091E;color: #fff;">Hammer
                                and Dolly</h3>
                            <img class="bd-placeholder-img card-img-top" width="100%" height="300"
                                src="assets/img/dent-paint-1.jpg" alt="home-slider-3" role="img">
                            <div class="card-body">
                                <p class="card-text">Place the dolly against the highest point of the back side of the
                                    dent. Gently tap the dolly with the hammer until the sheep metal moves back into
                                    place.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div data-aos="fade-up">
                            <h3 class="card-header text-center" style="background-color: #04091E;color: #fff;">Body
                                Filler</h3>
                            <img class="bd-placeholder-img card-img-top" width="100%" height="300"
                                src="assets/img/dent-paint-3.jpg" alt="home-slider-3" role="img">
                            <div class="card-body">
                                <p class="card-text">For small dents, body filler is an easy way to go. This requires no
                                    drilling or using a dent puller. Apply a thick coat of body filler. Allow the filler
                                    to dry for at least an hour and then sand it smooth Once the area is smooth with the
                                    surrounding surface of the car, you can apply primer and then paint to completely
                                    finish the dent. </p>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!-- Start home-calltoaction Area -->
    <section class="home-calltoaction-area relative">
        <div class="container">
            <div class="overlay overlay-bg"></div>
            <div class="row align-items-center section-gap">
                <div class="col-sm-12 text-center">
                    <h1>We Provide Quality Denting Services</h1>

                </div>

            </div>
        </div>
    </section>
    <!-- End home-calltoaction Area -->

</div>