<div class="wrapper">

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">

                        <img class="bd-placeholder-img card-img-top" width="100%" height="300"
                            src="assets/img/dent-paint-1.jpg" alt="home-slider-3" focusable="false" role="img">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="300"
                            src="assets/img/dent-paint-2.jpg" alt="home-slider-3" focusable="false" role="img">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="300"
                            src="assets/img/dent-paint-3.jpg" alt="home-slider-3" focusable="false" role="img">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>

                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="300"
                            src="assets/img/dent-paint-1.jpg" alt="home-slider-3" focusable="false" role="img">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="300"
                            src="assets/img/dent-paint-2.jpg" alt="home-slider-3" focusable="false" role="img">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="300"
                            src="assets/img/dent-paint-3.jpg" alt="home-slider-3" focusable="false" role="img">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer additional content. This content
                                is a little bit longer.
                                additional content. This content is a little bit longer
                                additional content. This content is a little bit longer</p>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    
 

</div>