<div class="wrapper">

    <!-- start banner Area -->
    <section class="banner-area " id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row  banner-align">
                <div class="contact-content col-lg-12">
                    <h1 class="text-white" data-aos="fade-right">
                        Car Dent Paint
                    </h1>

                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->





    <div class=" bg-light mt-5">
        <div class="container">

            <div class="row">
                <div class="col-sm-4 ">
                    <div class="card ">
                        <div data-aos="fade-up">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="300"
                            src="assets/img/dent-paint-3.jpg" alt="home-slider-3" role="img">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>

                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card ">
                        <div data-aos="fade-up">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="300"
                            src="assets/img/dent-paint-1.jpg" alt="home-slider-3" role="img">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>

                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card ">
                        <div data-aos="fade-up">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="300"
                            src="assets/img/dent-paint-3.jpg" alt="home-slider-3" role="img">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>

                        </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>



</div>