/* for layout */

.wrapper{
    width: 100% !important;
    overflow-x: hidden !important;
    margin-top: 84px !important;
 }
 

 /*== Preloader Area CSS Start ==*/

body.loader-active {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	overflow: hidden;
}

.preloader {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #fff;
	z-index: 9999;
}

.preloader-spinner {
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	position: absolute;
}

.loader-content {
	width: 150px;
}

.ftco-section {
/* padding: 8em 0; */
padding: 3em 3em 0;
	position: relative; }
	@media (max-width: 767.98px) {
	  .ftco-section {
		  /* padding: 6em 0 */
		padding: 3em 0 3em 0; } }
  
  .ftco-bg-dark {
	background:  #1B5696; }
  
  .ftco-footer {
	font-size: 16px;
	background:  #1B5696;
	/* padding: 12em 0 8em 0; */
	padding: 4em 0 1em 0;
 }
	.ftco-footer .ftco-footer-logo {
	  text-transform: uppercase;
	  letter-spacing: .1em; }
	.ftco-footer .ftco-footer-widget h2 {
	  font-weight: normal;
	  color: #fff;
	  margin-bottom: 10px;
	  font-size: 18px;
	  font-weight: 400; }
	.ftco-footer .ftco-footer-widget ul li a span {
	  color: #fff; }
	.ftco-footer p {
	  color: rgba(255, 255, 255, 0.7); }
	.ftco-footer a {
	  color: rgba(255, 255, 255, 0.7); }
	  .ftco-footer a:hover {
		color: #fff; }
	.ftco-footer .ftco-heading-2 {
	  font-size: 17px;
	  font-weight: 400;
	  color: #404044; }
  
  .ftco-footer-social li {
	list-style: none;
	margin: 0 10px 0 0;
	display: inline-block; }
	.ftco-footer-social li a {
	  height: 50px;
	  width: 50px;
	  display: block;
	  float: left;
	  background: rgba(255, 255, 255, 0.05);
	  border-radius: 50%;
	  position: relative; }
	  .ftco-footer-social li a span {
		position: absolute;
		font-size: 26px;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%); }
	  .ftco-footer-social li a:hover {
		color: #fff; }
  
  .footer-small-nav > li {
	display: inline-block; }
	.footer-small-nav > li a {
	  margin: 0 10px 10px 0; }
	  .footer-small-nav > li a:hover, .footer-small-nav > li a:focus {
		color: #ee76ad; }
  
  .media .ftco-icon {
	width: 100px; }
	.media .ftco-icon span {
	  color: #ee76ad; }
  
  .ftco-media {
	background: #fff;
	border-radius: 0px; }
	.ftco-media .heading {
	  font-weight: normal; }
	.ftco-media.ftco-media-shadow {
	  padding: 40px;
	  background: #fff;
	  -webkit-box-shadow: 0 10px 50px -15px rgba(0, 0, 0, 0.3);
	  box-shadow: 0 10px 50px -15px rgba(0, 0, 0, 0.3);
	  -webkit-transition: .2s all ease;
	  -o-transition: .2s all ease;
	  transition: .2s all ease;
	  position: relative;
	  top: 0; }
	  .ftco-media.ftco-media-shadow:hover, .ftco-media.ftco-media-shadow:focus {
		top: -3px;
		-webkit-box-shadow: 0 10px 70px -15px rgba(0, 0, 0, 0.3);
		box-shadow: 0 10px 70px -15px rgba(0, 0, 0, 0.3); }
	.ftco-media .icon {
	  font-size: 50px;
	  display: block;
	  color: #ee76ad; }
	.ftco-media.text-center .ftco-icon {
	  margin: 0 auto; }
  
  .ftco-overflow-hidden {
	overflow: hidden; }
  
  .padding-top-bottom {
	padding-top: 120px;
	padding-bottom: 120px; }