<div class="wrapper">
    <div class="page-header page-header-small mb-5">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/about-us.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <!-- <h1 class="title"></h1> -->
                <h2 class="title text-center pt-5 mb-0">About Us</h2>
                <p class="h4 text-center text-capitalize " 
                style="margin-top: initial">We provide excellent services </p>

                <div class="text-center">
                    <a href="https://www.facebook.com/yogeshpaintercarcare" target="_blank"
                        class="btn btn-info btn-icon btn-round">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                   
                    <a href="https://www.instagram.com/yogesh_painter_car_care" target="_blank"
                        class="btn btn-info btn-icon btn-round">
                        <i class="fab fa-instagram"></i>
                    </a>

                </div>
            </div>
        </div>
    </div>

    <!--== About Us Area Start ==-->
    <section id="about-area" class="section-padding mt-5">
        <div class="container">


            <div class="row">
                <!-- About Content Start -->
                <div class="col-lg-6">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <div class="about-content">
                                <p>Lorem simply dummy is a texted of the printing costed and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- About Content End -->

                <!-- About Video Start -->
                <div class="col-lg-6">
                    <div class="about-image">
                        <img src="assets/img/home-2-about.png" alt="JSOFT">
                    </div>
                </div>
                <!-- About Video End -->
            </div>

        </div>
    </section>
    <!--== About Us Area End ==-->

    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Who we are?</h2>
                    <p class="h5 text-center" style="margin-top: initial">According to the National Oceanic and
                        Atmospheric Administration, Ted, Scambos, NSIDClead
                        scentist, puts the potentially record low maximum sea ice extent tihs year down to low ice
                        extent in the Pacific and a late drop in ice extent in the Barents Sea.
                    </p>

                    <h5></h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>

        </div>


    </div>