<div class="wrapper">
    <div class="page-header page-header-small mb-5">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/about-us.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <!-- <h1 class="title"></h1> -->
                <h2 class="title text-center pt-5 mb-0">About Us</h2>
                <p class="h4 text-center text-capitalize " style="margin-top: initial">We provide excellent services
                </p>

            </div>
        </div>
    </div>

    <!--== About Us Area Start ==-->
    <section id="about-area" class="section-padding mt-5">
        <div class="container">


            <div class="row">
                <!-- About Content Start -->
                <div class="col-sm-6 mb-5">
                    <div class="display-table" data-aos="fade-right">
                        <div class="display-table-cell">
                            <div class="about-content text-center">
                                <p>Lorem simply dummy is a texted of the printing costed and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type. Lorem simply dummy is a texted of the
                                    printing costed and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- About Content End -->

                <!-- About Video Start -->
                <div class="col-sm-6">
                    <div class="about-image" data-aos="fade-left">
                        <img src="assets/img/home-2-about.png" alt="JSOFT">
                    </div>
                </div>
                <!-- About Video End -->
            </div>

        </div>
    </section>
    <!--== About Us Area End ==-->

    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Who we are?</h2>
                    <p class="h5 text-center" style="margin-top: initial">According to the National Oceanic and
                        Atmospheric Administration, Ted, Scambos, NSIDClead
                        scentist, puts the potentially record low maximum sea ice extent tihs year down to low ice
                        extent in the Pacific and a late drop in ice extent in the Barents Sea.
                    </p>

                    <h5></h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>

        </div>


    </div>

    <!--? Categories Area Start -->
    <div class="categories-area section-padding30 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8 col-md-10 col-sm-12">
                    <div class="section-tittle text-center mb-100">

                        <h2>To increase productivity and cost effectiveness on the market.</h2>
                    </div>
                </div>
            </div>
            <div class="row border-responsive">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-cat border-right">

                        <div class="cat-cap mr-2">
                            <h3 class="mb-1">Quality</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui maxime commodi fugit quasi
                                sequi temporibus, ad necessitatibus quaerat officia culpa eius reprehenderit suscipit.
                                Quaerat cum odit praesentium expedita, iusto voluptates.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-cat border-right">

                        <div class="cat-cap mr-2">
                            <h3 class="mb-1">Reliablity</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui maxime commodi fugit quasi
                                sequi temporibus, ad necessitatibus quaerat officia culpa eius reprehenderit suscipit.
                                Quaerat cum odit praesentium expedita, iusto voluptates.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-cat ">

                        <div class="cat-cap mr-2">
                            <h3 class="mb-1">Experience</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui maxime commodi fugit quasi
                                sequi temporibus, ad necessitatibus quaerat officia culpa eius reprehenderit suscipit.
                                Quaerat cum odit praesentium expedita, iusto voluptates.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- cat End -->




</div>