<nav id="header-area" class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent" color-on-scroll="500">
  <div class="container">


    <div class="navbar-translate">
      <a class="navbar-brand" [routerLink]="['/index']" placement="bottom" ngbTooltip="Yogesh Painter Car Care">
        <img src="assets/img/edited-logo.png" alt="Thumbnail Image" class=" img-fluid ">
        <!-- Yogesh Painter Car Care -->
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"
        (click)="sidebarToggle()">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">

          <a class="nav-link" [routerLink]="['/index']">Home</a>
          <!-- <a class="nav-link" href="https://www.creative-tim.com/product/now-ui-kit-angular" target="_blank">
                      <i class="now-ui-icons arrows-1_cloud-download-93"></i>
                      <p>Download</p>
                  </a> -->
        </li>

        <li class="nav-item">
          <div ngbDropdown class="dropdown">
            <a class="nav-link dropdown-toggle" ngbDropdownToggle>
              <p>
                Services
              </p>
            </a>
            <div ngbDropdownMenu class="dropdown-menu">
              <a class="dropdown-item" href="/car_denting_painting"> Car Denting Painting </a>
              <a class="dropdown-item" href="/Body_polish">Body Polish</a>
              <a class="dropdown-item" href="/fornt_glass_treatment">Fornt Glass Treatment</a>
              <a class="dropdown-item" href="/detailing">Detailing</a>
              <a class="dropdown-item" href="/teflon_coating">Teflon Coating</a>
              <a class="dropdown-item" href="/interior_cleaning">Interior Cleaning</a>
              <a class="dropdown-item" href="/rusting_coating">Rusting Coating</a>
              <a class="dropdown-item" href="/engine_coating">Engine Coating</a>
              <a class="dropdown-item" href="/ceramic_coating">Ceramic Coating</a>
            </div>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about_us']">About Us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact_us']">Contact Us</a>
        </li>
     
       
      </ul>
    </div>
  </div>
</nav>