.navbar.navbar-transparent {
  background-color: #1b5696 !important;
  
  // #f96332
}

.dropdown-menu .dropdown-item:focus,
        .dropdown-menu .dropdown-item:hover{
            background-color: #285596;
           color: white;
        }