.navbar.navbar-transparent {
  background-color: #04091E !important;
  font-weight: 600;

  // #f96332
}

.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item:hover {
  background-color: #04091E;
  color: white;
  font-weight: 600;
}






@media only screen and (max-width: 767px) {


}

/* Tablet Device = 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {


}

/* Responsive columns */
@media screen and (max-width: 600px) {


}