<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/contact-us.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">Contact Us</h1>
                <!-- <div class="text-center">
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-facebook-square"></i>
                  </a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-google-plus"></i>
                  </a>
                </div> -->
            </div>
        </div>
    </div>
    <div class="row">
   
            <!-- <img src="assets/img/opening-hour.png" alt="Thumbnail Image" class="rounded img-raised"> -->

      
        <div class="col-sm-12">
            <div class="section section-contact-us text-center">
                <div class="container">
                    <h2 class="title">contact with us</h2>
                    <p class="description">Your query is very important to us.</p>
                    <div class="row">
                        <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                            <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="now-ui-icons users_circle-08"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" placeholder="Left Font Awesome Icon"
                                    (focus)="focus=true" (blur)="focus=false">
                            </div>
                            <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="now-ui-icons ui-1_email-85"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" placeholder="email" (focus)="focus1=true"
                                    (blur)="focus1=false">
                            </div>
                            <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="now-ui-icons ui-1_email-85"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" placeholder="Contact Number"
                                    (focus)="focus1=true" (blur)="focus1=false">
                            </div>
                            <div class="textarea-container">
                                <textarea class="form-control" name="name" rows="4" cols="80"
                                    placeholder="Type a message..."></textarea>
                            </div>
                            <div class="send-button">
                                <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">Send Message</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    <footer class="footer footer-default">
        
            <div class=" text-center" >
                <h6>Address:</h6><br>
                212, vyapar vikas parishad, devguradia, Nemawar road<br>
                Opposition- Tinchi Ground<br>
                Indore, Madhya Pradesh, 452020,<br>
                India
            </div>
        
    </footer>
</div>