<div class="wrapper">
    <!-- 
    <div class="container mt-5">
        <div class="row">
          
            <div class="col-12 col-sm-4">
                <div class="card mb-3 shadow-none" >
                    <div class="card-header text-white text-uppercase" style="background-color: #1B5696;"><i
                            class="fa fa-home"></i> Address</div>
                    <div class="card-body border ">
                        <p class=" text-center m-0">212, Vyapar Vikas Parishad, Devguradia, Nemawar Road<br>
                            Opposition- Tinchi Ground<br>
                            Indore, Madhya Pradesh, 452020,<br>
                            India</p>

                    </div>

                </div>
                <div class="card mb-3 shadow-none">
                    <div class="card-header  text-white text-uppercase" style="background-color: #1B5696;"><i
                            class="fa fa-envelope "></i> Email</div>
                    <div class="card-body border card-body-height">
                        <p>mohitpatni293@gmail.com</p>
                        <p>mohitpatni194@gmail.com</p>
                        

                    </div>

                </div>
                <div class="card  mb-3 shadow-none">
                    <div class="card-header  text-white text-uppercase" style="background-color: #1B5696;"><i
                            class="fa fa-phone"></i> Address</div>
                    <div class="card-body border card-body-height">
                        <p>Tel. +33 12 56 11 51 84</p>

                    </div>

                </div>
            </div>
        </div>
    </div> -->
    <!-- style="background-image: url('assets/img/bg-01.jpg');" -->
    <div class="container mt-5">
        <div class="bg-contact100 mb-5" style=" border-radius: 15px;">
            <div class="container-contact100">
                <div class="wrap-contact100">
                    <div class="contact100-pic js-tilt" data-tilt>
                        <img src="assets/img/img-01.png" style="margin-top: 130px;" alt="IMG">
                    </div>

                    <form class="contact100-form validate-form">
                    

                        <div class="wrap-input100 validate-input" data-validate="Name is required">
                            <input class="input100" type="text" name="name" placeholder="Name">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                            <input class="input100" type="text" name="email" placeholder="Email">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="wrap-input100 validate-input">
                            <input class="input100" type="text" name="name" placeholder="Phone">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="Message is required">
                            <textarea class="input100" name="message" placeholder="Message"></textarea>
                            <span class="focus-input100"></span>
                        </div>

                            <div class="form-check">

                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox">
                                    <span class="form-check-sign"></span>
                                    Front Bonat
                                </label>
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox">
                                    <span class="form-check-sign"></span>
                                    Front Bumfar
                                </label>
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox">
                                    <span class="form-check-sign"></span>
                                    Back Bumfar
                                </label>
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox">
                                    <span class="form-check-sign"></span>
                                    Body Polish
                                </label>
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox">
                                    <span class="form-check-sign"></span>
                                    Light Checkup
                                </label>
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox">
                                    <span class="form-check-sign"></span>
                                    Interior Wash
                                </label>
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox">
                                    <span class="form-check-sign"></span>
                                    Glass Polish
                                </label>
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox">
                                    <span class="form-check-sign"></span>
                                    Other
                                </label>
                            </div>
                            <span class="focus-input100"></span>
                        


                        <div class="container-contact100-form-btn">
                            <button class="contact100-form-btn">
                                Get Quotation 
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



 
</div>