<div class="wrapper">

    <section class="ftco-section contact-section">
        <div class="container">
            <div class="row d-flex contact-info ">
                <div class="col-md-6 col-lg-3 d-flex ftco-animate">
                    <div class="align-self-stretch box p-4 text-center bg-light" data-aos="fade-up">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-globe"></span>
                        </div>
                        <h3 class="mb-4">Address</h3>
                        <p>Vyapar Vikas Parishad, Devguradia, Nemawar Road opp. Tinchi Ground, Indore
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex ftco-animate">
                    <div class="align-self-stretch box p-4 text-center bg-light" data-aos="fade-up">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-phone"></span>
                        </div>
                        <h3 class="mb-4">Contact Number</h3>
                        <p><a href="tel://+919826075526">+91 98260-75526</a><br>
                            <a href="tel://+919770012300">+91 97700-12300</a><br>
                            <a href="tel://+919977700699">+91 99777-00699</a></p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex ftco-animate">
                    <div class="align-self-stretch box p-4 text-center bg-light" data-aos="fade-up">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-envelope"></span>
                        </div>
                        <h3 class="mb-4">Email Address</h3>
                        <p><a href="mailto:yogeshpaintercarcare@gmail.com">yogeshpaintercarcare@gmail.com</a></p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex ftco-animate">
                    <div class="align-self-stretch box p-4 text-center bg-light" data-aos="fade-up">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-clock"></span>
                        </div>
                        <h3 class="mb-4">Opening Hours</h3>
                        <p>10:00 AM to 5:00 PM<br> Sunday Closed</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
 <!-- <div class="contact100-pic js-tilt" data-tilt> -->
                    <!-- <img src="assets/img/img-01.png" style="margin-top: 130px;" alt="IMG"> -->

    <!-- <div class="container">
        <div class="bg-contact100 mb-5" style=" border-radius: 15px;">
            <div class="container-contact100">
                <div class="wrap-contact100">
                   
                    <div class="contact">
                        <div class="envelope">
                            <div class="top">
                                <div class="outer">
                                    <div class="inner"></div>
                                </div>
                            </div>
                            <div class="bottom"></div>
                            <div class="left"></div>
                            <div class="right"></div>
                            <div class="cover"></div>
                            <div class="paper">
                                <a class="" href="tel:+91 98260-75526">
                                    <div class="i"></div>+91 98260-75526
                                </a>
                              
                            </div>
                        </div>
                    </div>

                    

                    <form class="contact100-form validate-form">


                        <div class="wrap-input100 validate-input" data-validate="Name is required">
                            <input class="input100" type="text" name="name" placeholder="Name">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                            <input class="input100" type="text" name="email" placeholder="Email">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="wrap-input100 validate-input">
                            <input class="input100" type="text" name="name" placeholder="Phone">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="Message is required">
                            <textarea class="input100" name="message" placeholder="Message"></textarea>
                            <span class="focus-input100"></span>
                        </div>

                        <div class="form-check">

                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox">
                                <span class="form-check-sign"></span>
                                Front Bonat
                            </label>
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox">
                                <span class="form-check-sign"></span>
                                Front Bumfar
                            </label>
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox">
                                <span class="form-check-sign"></span>
                                Back Bumfar
                            </label>
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox">
                                <span class="form-check-sign"></span>
                                Body Polish
                            </label>
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox">
                                <span class="form-check-sign"></span>
                                Light Checkup
                            </label>
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox">
                                <span class="form-check-sign"></span>
                                Interior Wash
                            </label>
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox">
                                <span class="form-check-sign"></span>
                                Glass Polish
                            </label>
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox">
                                <span class="form-check-sign"></span>
                                Other
                            </label>
                        </div>
                        <span class="focus-input100"></span>



                        <div class="container-contact100-form-btn">
                            <button class="contact100-form-btn">
                                Get Quotation
                            </button>
                        </div>
                    </form>




                </div>
            </div>
        </div>

    </div> -->

        <div class="py-5 bg-light" >
            <div class="container">
                <div class="row">

                    <div class=" col-md-12 col-lg-8 mb-5 "data-aos="fade-right">

                        <h3 class="text-center"> Get Quotation</h3>
                        <form action="#" class="p-3 bg-white">

                            <div class="row form-group">
                                <div class="col-md-12 mb-3 mb-md-0">
                                    <label class="font-weight-bold" for="fullname" style="font-weight: bold;">Full
                                        Name</label>
                                    <input type="text" id="fullname" class="form-control" placeholder="Full Name">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label class="font-weight-bold" for="email">Email</label>
                                    <input type="email" id="email" class="form-control" placeholder="Email Address">
                                </div>
                            </div>


                            <div class="row form-group">
                                <div class="col-md-12 mb-3 mb-md-0">
                                    <label class="font-weight-bold" for="phone">Phone</label>
                                    <input type="text" id="phone" class="form-control" placeholder="Phone #">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label class="font-weight-bold" for="message">Message</label>
                                    <textarea name="message" id="message" cols="30" rows="10" class="form-control"
                                        placeholder="Message"></textarea>
                                </div>
                            </div>
                            <label class="font-weight-bold">Select Service</label>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <div class="form-check "
                                        style="border-radius: 0px; background-color: transparent; border: 1px solid #E3E3E3 ">

                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox">
                                            <span class="form-check-sign"></span>
                                            Front Bonat
                                        </label>
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox">
                                            <span class="form-check-sign"></span>
                                            Front Bumfar
                                        </label>
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox">
                                            <span class="form-check-sign"></span>
                                            Back Bumfar
                                        </label>
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox">
                                            <span class="form-check-sign"></span>
                                            Body Polish
                                        </label>
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox">
                                            <span class="form-check-sign"></span>
                                            Light Checkup
                                        </label>
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox">
                                            <span class="form-check-sign"></span>
                                            Interior Wash
                                        </label>
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox">
                                            <span class="form-check-sign"></span>
                                            Glass Polish
                                        </label>
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox">
                                            <span class="form-check-sign"></span>
                                            Other
                                        </label>


                                    </div>
                                </div>
                            </div>

                            <div class="row  form-group">
                                <div class="col-md-12 ">
                                    <input type="submit" value="Get Quotation" class="btn "
                                        style="background-color:#1b5696 ; color: white;">
                                </div>
                            </div>


                        </form>
                    </div>
                    <div class=" col-lg-4 mb-5" data-aos="fade-left">
                        <h3 class="text-center"> Feedback</h3>
                        <form action="#" class="p-3 bg-white">

                            <div class="row form-group">
                                <div class="col-md-12 mb-3 mb-md-0">
                                    <label class="font-weight-bold" for="fullname" style="font-weight: bold;">Full
                                        Name</label>
                                    <input type="text" id="fullname" class="form-control" placeholder="Full Name">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label class="font-weight-bold" for="email">Email</label>
                                    <input type="email" id="email" class="form-control" placeholder="Email Address">
                                </div>
                            </div>


                            <div class="row form-group">
                                <div class="col-md-12 mb-3 mb-md-0">
                                    <label class="font-weight-bold" for="rating">Rating</label>
                                    <input type="text" id="rating" class="form-control" placeholder="Rating">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label class="font-weight-bold" for="feedback">Feedback</label>
                                    <textarea name="message" id="feedback" cols="30" rows="10" class="form-control"
                                        placeholder="What you thik about us"></textarea>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <input type="submit" value="Send Feedback" class="btn text-white "
                                        style="background-color:#1b5696 ; ">
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>